rpi/home_app.json
[{"id":"1a9617ed.94b328","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"56b28991.01591","type":"mqtt in","z":"1a9617ed.94b328","name":"","topic":"ohayou","qos":"1","datatype":"auto","broker":"feb9b0ed.d37c4","x":150,"y":680,"wires":[["f8d0f496.2b23f8"]]},{"id":"f8d0f496.2b23f8","type":"ui_toast","z":"1a9617ed.94b328","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":400,"y":680,"wires":[]},{"id":"9a208359.b32e78","type":"mqtt in","z":"1a9617ed.94b328","name":"","topic":"pirData","qos":"1","datatype":"auto","broker":"feb9b0ed.d37c4","x":150,"y":140,"wires":[["2defce5.7c42832"]]},{"id":"a6f1a168.f5e238","type":"ui_text","z":"1a9617ed.94b328","group":"ae7e1251.f7e7e","order":3,"width":0,"height":0,"name":"","label":"Move:","format":"{{msg.payload.Move}}","layout":"row-spread","x":530,"y":140,"wires":[]},{"id":"5bb9c408.119534","type":"mqtt in","z":"1a9617ed.94b328","name":"","topic":"temperature","qos":"1","datatype":"auto","broker":"feb9b0ed.d37c4","x":170,"y":300,"wires":[["7e5309a2.39f728","a6ecf225.4ae94"]]},{"id":"7e5309a2.39f728","type":"ui_chart","z":"1a9617ed.94b328","name":"","group":"e4e6cd53.77b1c","order":1,"width":0,"height":0,"label":"Temperature in Celcious","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":430,"y":300,"wires":[[]]},{"id":"9cfe4d5f.d81e68","type":"ui_gauge","z":"1a9617ed.94b328","name":"","group":"e4e6cd53.77b1c","order":3,"width":0,"height":0,"gtype":"donut","title":"Water Level","label":"units","format":"{{value}}","min":0,"max":"512","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":460,"wires":[]},{"id":"7784f9ac.ec3728","type":"mqtt in","z":"1a9617ed.94b328","name":"","topic":"waterdetector","qos":"1","datatype":"auto","broker":"feb9b0ed.d37c4","x":170,"y":460,"wires":[["9cfe4d5f.d81e68","54e9d012.258c78"]]},{"id":"1997e1ee.157f9e","type":"mqtt in","z":"1a9617ed.94b328","name":"","topic":"humidity","qos":"1","datatype":"auto","broker":"feb9b0ed.d37c4","x":160,"y":380,"wires":[["2fbedd21.214d4a","11db113a.c086f7"]]},{"id":"2fbedd21.214d4a","type":"ui_chart","z":"1a9617ed.94b328","name":"","group":"e4e6cd53.77b1c","order":2,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":380,"y":380,"wires":[[]]},{"id":"a6ecf225.4ae94","type":"debug","z":"1a9617ed.94b328","name":"temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":260,"wires":[]},{"id":"11db113a.c086f7","type":"debug","z":"1a9617ed.94b328","name":"humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":340,"wires":[]},{"id":"2defce5.7c42832","type":"function","z":"1a9617ed.94b328","name":"","func":"var time = new Date();\nif (!msg.payload || msg.payload.length === 0) {\n    msg.payload = {Time: \"\", Move: msg.payload, Connected: false}\n}\nelse {\n    msg.payload = {Time: time, Move: msg.payload, Connected: true}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":140,"wires":[["a6f1a168.f5e238","4a9577f0.540c8"]]},{"id":"4a9577f0.540c8","type":"ui_text","z":"1a9617ed.94b328","group":"ae7e1251.f7e7e","order":4,"width":0,"height":0,"name":"","label":"Time:","format":"{{msg.payload.Time}}","layout":"row-spread","x":530,"y":180,"wires":[]},{"id":"54e9d012.258c78","type":"debug","z":"1a9617ed.94b328","name":"WaterDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":420,"wires":[]},{"id":"e8e65667.29269","type":"mqtt in","z":"1a9617ed.94b328","name":"","topic":"audio","qos":"1","datatype":"auto","broker":"feb9b0ed.d37c4","x":150,"y":580,"wires":[["9ad1c45f.5503"]]},{"id":"9ad1c45f.5503","type":"ui_gauge","z":"1a9617ed.94b328","name":"","group":"e4e6cd53.77b1c","order":4,"width":0,"height":0,"gtype":"gage","title":"Volume","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":580,"wires":[]},{"id":"feb9b0ed.d37c4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ae7e1251.f7e7e","type":"ui_group","name":"Control","tab":"7301af11.2ab34","order":1,"disp":true,"width":"6","collapse":false},{"id":"e4e6cd53.77b1c","type":"ui_group","name":"Graphs","tab":"7301af11.2ab34","order":2,"disp":true,"width":"6","collapse":true},{"id":"7301af11.2ab34","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]